{{!< default}} 
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
{{> "header"}}
{{!-- The main content area on the homepage --}}
<div class="main">
    {{!-- The tag below includes the post loop - partials/loop.hbs --}} {{> "loop"}}
</div>