.archives-info time{
    float: left;
    width: 50px;
}
.archives-info a{
    float: left;
    width: 80%;
    transition: 0.3s;
}
.archives-info a:hover{
    color:#42b983;
}
.archives-item{
    margin-bottom: 15px;
}
.archives-year{
    font-size: 20px;
    margin: 20px 0;
}