body {
  font-family: "Roboto", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  word-spacing: 1px;
  color: #666;
  margin: 0;
}
img {
  border: none;
}
a {
  color: #666;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease;
}
.header {
  letter-spacing: 3px;
  margin: 80px auto 0px;
  text-align: center;
}
.header .logo{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.header .logo img{
  width: 100%;
  height: 100%;
}
.header .tit {
  font-size: 15px;
  color: #444;
}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ececec;
  box-shadow: 0 2px 5px #ececec;
  padding: 10px 0 10px 30px;
  z-index: 100;
  background: #fff;
  width: 100%;
}
.nav .nav-item {
  margin-right: 10px;
}
.nav .nav-current a{
  color: #42b983;
}
.links {
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, serif;
  color: #999;
  font-size: 24px;
  margin: 0;
}
.links a {
  cursor: pointer;
  padding: 2px;
  margin: 0 3px;
}
.links a svg{
  fill: #42b983;
}
.links img {
  width: 15px;
  height: 15px;
}
.header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  font-weight: 400;
  color: #444;
}
.main {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 30px 50px;
  position: relative;
}
@media screen and (max-width: 420px) {
  .header {
    margin: 70px auto 0px;
  }
  .header a {
    font-size: 14px;
  }
}
