.post-list {
    list-style-type: none;
    padding: 0;
    padding-top: 4px;
}

.post-list li {
    position: relative;
    padding: 15px 0 15px;
    border-bottom: 0.5px solid #e6e6e6;
}

.post-list li:first-child {
    margin-top: -30px;
}

.post-list h2,
.post-list h3 {
    letter-spacing: 1px;
    margin: 0;
    /* text-transform: uppercase; */
}

.post-list h2 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 120px;
}

.post-list h2 a {
    color: #444;
}

.post-list h2 a:hover {
    color: #42b983;
}

.post-list h3 {
    font-size: 13px;
    color: #999;
    position: absolute;
    left: 0;
    top: 21px;
}

.post-list h2 .tag-box {
    float: right;
    /* margin-bottom: -5px; */
}

.post-list h2 .tag-box a {
    font-size: 12px;
    transition: 0.3s;
    background: #42b983;
    padding: 2px 4px;
    margin-right: 4px;
    border-radius: 2px;
    color: #fff;
}
.post-list h2 .tag-box a:hover{
    opacity: 0.8;
}

@media screen and (max-width: 420px) {
    .post-list h2 {
        font-size: 16px;
        margin-left: 0;
    }
    .post-list h2 a:hover {
        color: #42b983;
    }
    .post-list h3 {
        font-size: 11px;
        position: static;
        margin-bottom: 10px;
    }
    .post-list ul li {
        padding: 18px 0 20px;
    }
    .post-list ul li:first-child {
        margin-top: -35px;
    }
}
@media screen and (max-width: 750px){
    .post-list h2 .tag-box {
        float: none;
        margin-bottom: -5px;
    }
}
.pagination {
    margin-top: 30px;
    text-align: center;
}

.pagination #newer {
    margin-right: 30px;
}

.pagination a {
    transition: 0.3s;
}

.pagination a:hover {
    color: #42b983;
}